<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.oshomadesse.bookssummary.pull</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/seihoushouba/.local/bin/books-summary-pull.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>20</integer>
    </dict>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>LANG</key>
        <string>ja_JP.UTF-8</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/seihoushouba/Library/Logs/BooksSummary/pull-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/seihoushouba/Library/Logs/BooksSummary/pull-stderr.log</string>
</dict>
</plist>
